<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sugar.steptofood">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TranslucentActionBar">

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.TranslucentActionBar">
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name=".MainTabsActivity"
            android:theme="@style/AppTheme.TranslucentActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodActivity"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name=".AddFoodActivity"
            android:theme="@style/AppTheme.ColoredActionBar">
        </activity>

    </application>
</manifest>