<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sugar.steptofood">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/step_to_food"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ColoredStatusBar">

        <activity
            android:name=".ui.activity.StartActivity"
            android:theme="@style/AppTheme.TranslucentActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.TabsActivity"
            android:theme="@style/AppTheme.TranslucentActionBar"/>

        <activity
            android:name=".ui.activity.FoodActivity"
            android:theme="@style/AppTheme.TranslucentActionBar" />

        <activity
            android:name=".ui.activity.AnotherUserActivity"
            android:theme="@style/AppTheme.TranslucentActionBar"/>

        <activity
            android:name=".ui.activity.AddFoodActivity"
            android:theme="@style/AppTheme.ColoredActionBar"/>

        <activity
            android:name=".ui.activity.SearchProductActivity"
            android:theme="@style/AppTheme.ColoredStatusBar"/>

        <activity
            android:name=".ui.activity.UserItemActivity"
            android:theme="@style/AppTheme.ColoredStatusBar"/>

    </application>
</manifest>